---
---

<style>
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width:100%; overflow-x:auto;
}
ol li{
  padding: 0;
  list-style: none!important;
  list-style-type: none;
  padding-left: 0!important;
  margin: 0!important;
}
</style>

{% assign _allowed = "article inproceedings report misc" %}
{% if _allowed contains entry.type and entry.keywords != "nonheavy" %}
{% assign extra = site.data.papers[entry.key] %}
<div class="pub-entry">
<h3 class="visually-hidden" id="pub-{{ entry.key }}" data-pagefind-weight="4">{{ entry.title | default: entry.key }}</h3>
<div class="row">
<div class="col-sm-2 col-2 d-none d-md-block" style="margin:0; padding:0; margin-top:4px;">

{% if extra.badge %}
<center><button class="btn btn-warning pub-type-badge Disabled">{{ extra.badge }}</button></center>
{% elsif entry.archiveprefix %}
<center><button class="btn btn-warning pub-type-badge Disabled">PREPRINT</button></center>
{% elsif entry.type == "article" %}
<center><button class="btn btn-primary pub-type-badge Disabled">JOURNAL</button></center>
{% elsif entry.type == "inproceedings" %}
<center><button class="btn btn-success pub-type-badge Disabled">CONFERENCE</button></center>
{% elsif entry.type == "report" %}
<center><button class="btn btn-danger pub-type-badge Disabled">REPORT</button></center>
{% endif %}

</div>

<div class="col-sm-10 col-10">
<div>
{% assign ref = reference %}
{% for name in site.bold_names %}
{% capture b %}<b>{{ name }}</b>{% endcapture %}
{% assign ref = ref | replace_first: name, b %}
{% endfor %}
{{ ref }}</div>

<div style="margin-top:4px;">
{% if entry.doi %}
<a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank"><button class="btn btn-info bib-btn">PAPER</button></a>
{% elsif entry.url %}
<a href="{{ entry.url }}" target="_blank"><button class="btn btn-info bib-btn">PAPER</button></a>
{% endif %}

{% if extra.code %}
<a href="{{ extra.code }}" target="_blank"><button class="btn btn-info bib-btn">CODE</button></a>
{% endif %}

<button type="button" class="btn btn-info bib-btn bib-toggle" style="opacity:0.7;" data-bib-target="a{{entry.key}}">BIB</button>

{% if entry.abstract %}
<button type="button" class="btn btn-info bib-btn bib-toggle" style="opacity:0.7;" data-bib-target="b{{entry.key}}">ABSTRACT</button>
{% endif %}
</div>

{% if entry.abstract %}
<div id="a{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{entry.abstract}}</pre>
</div>

</div>
</div>
</div>
{% endif %}
